.choose-user {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 3rem;
  padding: 2rem 5rem;
}

.doctor-patient {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 2rem;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dark-blue);
  text-decoration: none;
}

.doctor-patient:hover {
  box-shadow: 20px 20px 60px inset #e9e8e8, -20px -20px 60px inset #ffffff;
}
