.dashboard {
  background: var(--light);
  min-height: 100vh;
  color: var(--gunmetal);
}

.content {
  background: rgba(255, 255, 255, 0.45);
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(25px);
}

.dashboard_body {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.dashboard_body-left {
  width: 30%;
}

.dashboard_body-left h2 {
  font-size: 1.6rem;
  width: 60%;
  font-weight: 600;
}
.dashboard_body-right {
  width: 70%;
}

.find-patient,
.send-request {
  background-color: #f3a38f;
  background-image: url(../images/splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 9rem;
  height: 7rem;
  display: inline-block;
  margin: 0 1rem 0 0;
}

.send-request {
  background-image: url(../images/splash2.jpg);
}

.blur {
  background: rgba(161, 129, 79, 0.45);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  position: relative;
}

.dash-blur_icon {
  position: absolute;
  bottom: -1.15rem;
  left: 1rem;
  width: 3rem;
  height: 2.3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.dashboard_body-left small {
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  padding: 48% 0 0 0.6rem;
  color: #fff;
}

.status {
  display: grid;
  grid-template-columns: 9.5rem 9.5rem;
  gap: 1px;
}

.status .status-box {
  border: 1px solid rgba(56, 56, 56, 0.188);
  height: 7.5rem;
  position: relative;
  padding-top: 1rem;
  padding-right: 4rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.status-box:hover {
  background-color: #fff;
  box-shadow: 1px 4px 16px rgba(36, 35, 35, 0.247);
  border-color: #0000;
}

.status-box .count {
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 0.3rem 0.6rem;
  background-color: #00437a;
  color: #fff;
  font-size: 0.8rem;
}

.status-box span {
  font-size: 0.7rem;
  font-weight: 700;
  display: block;
  width: 65%;
  text-align: right;
  margin-top: 0.8rem;
}

.status-box h3 {
  font-size: 2rem;
}

.medical-records {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.medical-record_card {
  padding-top: 1.5rem;
  /* border: 1px solid rgba(175, 175, 175, 0.548); */
  position: relative;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(25px);
  min-height: 18rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 1px 4px 16px rgba(99, 98, 98, 0.164);
}

.medical-record_card::before {
  content: "";
  position: absolute;
  z-index: -2;
  background-color: rgba(225, 241, 241, 0.274);
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
}

.medical-record_card::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(25px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.medical-record_card h4 {
  border-left: 2px solid var(--blue);
  padding: 0.5rem 1.5rem;
}

.medical-records .record-item_preview {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(216, 215, 215, 0.24);
  font-weight: 500;
  text-transform: capitalize;
  word-break: break-all;
}

.medical-record_card-timeline {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  padding: 0.5rem;
}

.medical-record_card-timeline p {
  opacity: 0.6;
  font-weight: 500;
}

.medical-record_card-timeline small {
  font-weight: 600;
}

@media (max-width: 900px) {
  .dashboard_body {
    display: block;
  }
  .medical-records {
    grid-template-columns: 1fr;
  }
}

@import url(../css/doctorDashboard.css);
