.doctor-dashboard {
  min-height: 100vh;
}

.doctor-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 2rem;
}

.appointment-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border: 1px solid rgba(226, 222, 222, 0.678);
  border-radius: 10px;
  /* max-width: 20rem; */
  margin-bottom: 0.2rem;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--light);
  position: relative;
}

.appointment-card:hover {
  background-color: rgba(241, 237, 237, 0.678);
  box-shadow: 1px 1px 5px rgba(56, 56, 56, 0.2);
}

.appointment-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.appointment-img {
  padding: 0.3rem;
  border: 1px solid var(--blue);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  margin-right: 0.7rem;
}

.patient-name {
  margin-right: 1.5rem;
  text-transform: capitalize;
}

.patient-name p {
  font-weight: 600;
}

.appointment-time {
  background-color: rgba(135, 177, 216, 0.5);
  padding: 0.3rem;
  font-size: 0.8rem;
  color: var(--dark-blue);
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.patient-summary {
  border: 1px solid rgba(226, 222, 222, 0.678);
  padding: 0.5rem 1rem 1.5rem;
  border-radius: 10px;
}

.symptoms {
  /* margin: 0.8rem 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid rgba(238, 234, 234, 0.678);
  padding: 1rem 0;
}

.symptom_color {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
}

.symptom {
  text-transform: capitalize;
  padding-top: 0.8rem;
}

.previous-action {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  line-height: 1.3rem;
}

.pending-appointments .appointment-time {
  background-color: #fff;
}
