@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

:root {
  --dark-blue: #010211;
  --blue: #0096c7;
  --light: #fdfdfd;
  --mindaro: #fff786;
  --gunmetal: #272f3f;
  --green: #00ff9d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.date-picker {
  z-index: 4;
  margin: 1.5rem 0 0.6rem 0;
}

.date-picker::before {
  content: "Date of Birth";
  position: absolute;
  top: -1.5rem;
  left: 0;
}

@import url(./choose-user.css);
@import url(./registration.css);
@import url(./patient-record.css);
@import url(./loader.css);
@import url(./btn.css);
