.logo {
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.logo span {
  display: block;
}

.logo span:nth-child(2) {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-top: -5px;
  color: #dbf18a;
}

.landingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.landingHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-width: 30%;
}

.landingHeader ul a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.landingBody {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  position: relative;
}

.landingBody__left {
  margin-top: 2.5rem;
  margin-right: -10rem;
  margin-left: 6rem;
  z-index: 1;
  width: 50%;
}

.landingBody__left h2 {
  font-size: 5vmax;
  text-transform: capitalize;
  line-height: 5vmax;
  width: 100%;
}

.landingBody__left p {
  margin-top: 1rem;
  font-weight: 300;
}

.landingBody__right {
  width: 70%;
  height: 28rem;
  position: relative;
}
.landingBody__right img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.shape-1 {
  position: absolute;
  bottom: 0;
  right: -1rem;
  width: 5rem;
  height: 5rem;
  background: #d9ed92;
  border-radius: 1rem;
  z-index: 1;
}

.shape-2 {
  position: absolute;
  bottom: -1rem;
  right: 2.5rem;
  width: 3rem;
  height: 3rem;
  background: #34a0a4;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  z-index: 1;
}

.landingBody__right .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.653);
  border-radius: 1rem;
}

.fvm {
  position: absolute;
  left: 5rem;
  bottom: 2.5rem;
  width: 41vmax;
}
.fvm img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
}

@media (max-width: 1100px) {
  .landingHeader ul {
    min-width: 40%;
  }
}

@media (max-width: 900px) {
  .landingHeader ul,
  .connect-wallet {
    display: none;
  }
  .landingHeader {
    padding: 1.5rem;
  }
}
