.user-icon {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.45);
  justify-content: stretch;
  height: 2.5rem;
  width: 12rem;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 1px 4px 16px rgba(155, 155, 155, 0.137);
  backdrop-filter: blur(25px);
  cursor: pointer;
}

.user-icon img {
  height: 100%;
  width: 2.5rem;
}
